services:
  backend:
    build: ./ftw_backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./:/code:ro

  db:
    build: ./ftw_database
    hostname: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=FinancialTracker
      - PGDATA=/var/lib/postgresql/data/
  
  frontend:
    build: ./ftw_frontend
    hostname: frontend
    depends_on:
    - backend

    ports:
    - "8080:8080"

volumes:
  postgres_data: