services:
  backend:
    build: ./ftw_backend
    ports:
      - "8000:8000"
      - "5678:5678" # Debug port
    depends_on:
      - db
    volumes:
      - ./ftw_backend/src:/app

  db:
    build: ./ftw_database
    hostname: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=FinancialTracker
      - PGDATA=/var/lib/postgresql/data/

  frontend:
    build: ./ftw_frontend
    hostname: frontend
    depends_on:
      - backend

    ports:
      - "8080:8080"

    volumes:
      - ./ftw_frontend/src:/app/src # <-- Mount local src to /app/src in the container
      - ./ftw_frontend/package.json:/app/package.json # (optional, for hot reload on package.json changes)
      - ./ftw_frontend/vite.config.js:/app/vite.config.js # (optional, for vite config changes)

volumes:
  postgres_data:
