services:
  backend:
    build: ./ftw_backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./:/code:ro

  db:
      image: postgres
      hostname: db
      volumes:
        - postgres_data:/var/lib/postgresql/data/
        - ./ftw_database/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=FinancialTracker

volumes:
      postgres_data: 